<script>
    // You can add any script logic here if needed
  </script>
  
  <section class="job-portal-intro">
    <div class="container">
      <div class="wrapper bottom-border top-border pt-65 md-pt-50 pb-65 md-pb-50">
        <div class="row align-items-center">
          <div class="col-lg-7">
            <div class="text-center text-lg-start">
              <h2>Most complete job portal.</h2>
              <p class="text-md m0 md-pb-20">Signup and start finding your job or talents.</p>
            </div>
          </div>
          <div class="col-lg-5">
            <ul class="btn-group style-none d-flex flex-wrap justify-content-center justify-content-lg-end">
              <li class="me-2"><a href="/about" class="btn-three">Looking for a job?</a></li>
              <li class="ms-2"><a href="/" class="btn-four">Post a job</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  